$button-gradient: linear-gradient(135deg, #B31D3D 0%, #811B75 99.93%);
$bg-gradient: linear-gradient(162.14deg, #C61E27 0%, #811B75 99.93%);
$button-gradient-active: linear-gradient(0deg, $secondary-color 0%, $secondary-color 100%);