$box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$box-shadow-lg: 0 29px 60px 0 rgba(54, 57, 73, 0.09);
$box-shadow-md: 0 3px 8px 0 rgba(54, 57, 73, 0.05);
$box-shadow-sm: 0 2px 5px 0 rgba(130,26,116,0.2);
$box-shadow-xs: 0 3px 10px 0 rgba(0,0,0,0.08);

$box-shadow-panel: 0 5px 10px 0 rgba(0,0,0,0.05);
$box-shadow-panel-active: 0 2px 5px 0 rgba(0,148,205,0.20), 0 15px 45px 0 rgba(0,0,0,0.15);

$box-shadow-white-button: 0 0 0 2px #fff, 0 5px 12px 0 rgba(0,0,0,.08);
$box-shadow-white-button-active: 0 0 0 2px #fff, 0 4px 7px 0 rgba(0,148,205,.2), 0 17px 47px 0 rgba(0,0,0,.15);